// Base colors
$secondary-color: #f5f5f5;

// Theme colors
$theme-color-1: #f29e4c;
$theme-color-2: #f1c453;
$theme-color-3: #ff5c8a;
$theme-color-4: #b9e769;
$theme-color-5: #83e377;
$theme-color-6: #16db93;
$theme-color-7: #0db39e;
$theme-color-8: #048ba8;
$theme-color-9: #2c699a;
$theme-color-10: #54478c;
